<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
    <link rel="shortcut icon" href="../assets/CN_LOGO.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous ">
        </script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../assets/CN_LOGO.png" />
    <link rel="stylesheet" href="../css/forms.css">
    <title>Creator Nation - Connect with your Audience</title>
</head>

<body>
    <script>
        Moralis.initialize("rDecx1uN0CRZ8QWRxqjDeWEdc9P9ozhtp5xJjH5v"); // APP ID
        Moralis.serverURL = "https://onln8a9c8sry.bigmoralis.com:2053/server";
        async function logoutNow() {

            await Moralis.User.logOut();

            window.location.assign("../index.html");
        }
    </script>

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" aria-current="page" href="../index.html">
                <img src="../assets/CN_LOGO.png" alt="" width="50" height="50" class="d-inline-block align-text-middle">
            </a>
            <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search by Creator" id="searchbar">
                <a href="javascript:searchUser()"><input type="submit" value="Search"
                        class="btn btn-outline-danger" /></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="how-it-works.html">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="create.html">Create</a>
                    </li>
                </ul>
            </div>

            <div id="signoutButton">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="settings.html" class="dropdown-item">Creations</a></li>
                        <li><a href="settings.html" class="dropdown-item">Owned Items</a></li>
                        <li><a href="settings.html" class="dropdown-item">Earnings</a></li>
                        <li><a href="profilesettings.html" class="dropdown-item">Profile Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="javascript:logoutNow()" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div id="signinButton">
                <a href="signin.html" id="signinProfileButton" type="button" class="btn btn-outline-danger">Sign In</a>
            </div>
        </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <div class="row row-cols-1 row-cols-md-5 g-5" id="search_results" style="padding:20px;">
    </div>
    <br><br>
    <!-- Form Start -->

    <div class="connectWrapper">
        <div class="formTitle">
            Connect with your Audience
        </div>
        <form style="padding:20px;" id="connectForm">

            <input type="hidden" id="tokenID" />
            <div class="form-group" id="formSpacingElement">
                <label for="connectNamelabel"><b>Activity Name</b></label>
                <input type="text" class="form-control" id="activityName" aria-describedby="connectNameHelp"
                    placeholder="Eg: 30 minute virtual meeting, Be a part of my next video etc" maxlength="35" required>
            </div>
            <div class="form-group" id="formSpacingElement">
                <label for="connectMedia"><b>Activity Image</b></label>
                <input type="file" class="form-control" id="activityFile" aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload" accept="image/*" required>
                <small id="connectImageHelp" class="form-text text-muted">PNG, GIF or JPEG. Max 5MB.</small>
            </div>
            <div class="form-group" id="formSpacingElement">
                <div class="form-group">
                    <label for="connectDatelabel"><b>Activity Date and Time</b></label>
                    <div id="activityDate">
                    </div>
                    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
                    <script>
                        var quill1 = new Quill('#activityDate', {
                            modules: {
                                toolbar: [
                                    ['bold', 'italic', 'underline'],
                                    [{
                                        'list': 'ordered'
                                    }, {
                                        'list': 'bullet'
                                    }]
                                ]
                            },
                            placeholder: 'From Date, To Date, Event Time and Time Zone',
                            id: "activityDate",
                            theme: 'snow'
                        });
                    </script>
                    <small id="activityDescriptionHelp" class="form-text text-muted">Tip: Mention the date in the
                        following format to avoid confusion among international audience:<br> 2nd of September
                        2021</small>
                </div>
            </div>
            <div class="form-group col-md-6" id="formSpacingElement">
                <label for="connectCostlabel"><b>Activity Cost (USD)</b></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="activityCost" aria-describedby="connectCostHelp"
                        placeholder="500" min="1" maxlength="10" step="1"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        required>
                </div>
            </div>

            <div class="form-group" id="formSpacingElement">
                <label for="connectDescription"><b>Activity Description & Benefits</b></label>
                <div id="activityDesc">
                </div>
                <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
                <script>
                    var quill2 = new Quill('#activityDesc', {
                        modules: {
                            toolbar: [
                                ['bold', 'italic', 'underline'],
                                [{
                                    'list': 'ordered'
                                }, {
                                    'list': 'bullet'
                                }]
                            ]
                        },
                        id: "activityDesc",
                        placeholder: 'Describe the benefits of participating in this activity.',
                        theme: 'snow'
                    });
                </script>
                <small id="activityDescriptionHelp" class="form-text text-muted">Maximum limit of 3000
                    characters.</small>
            </div>
            <script type="text/javascript">
                function EnableDisableTextBox(activityLimit) {
                    var unlockContentNum = document.getElementById("activityLimitNum");
                    unlockContentNum.disabled = activityLimit.checked ? false : true;
                    if (!unlockContentNum.disabled) {
                        unlockContentNum.focus();
                    }
                }
            </script>
            <div class="form-group" id="formSpacingElement">
                <label for="connectNamelabel"><b>Activity Link</b></label>
                <input type="text" class="form-control" id="activityLink" aria-describedby="connectLinkHelp"
                    placeholder="Add a calendar/meeting link(if any)" maxlength="300">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="hidden" name="checkboxName" value="0" id="activityLimitMain">
                    <input type="checkbox" class="custom-control-input" id="activityLimit" name="activityLimit"
                        onclick="EnableDisableTextBox(this), this.previousElementSibling.value=1-this.previousElementSibling.value">
                    <label for="activityLimit" class="custom-control-label" for="customControlAutosizing"><b>Limit the
                            audience for this activity?</b>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto my-1">
                    <input type="number" class="form-control" id="activityLimitNum"
                        aria-describedby="activityLimitNumHelp" placeholder="Eg: 5" disabled=true min="1" maxlength="8"
                        step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        required>
                    <small id="tierPriceHelp" class="form-text text-muted">The number entered will be the maximum number
                        of slots available for this activity. </small>
                </div>
            </div>
            <div class="form-group-submit">
                <a href="javascript:createNow()"><input type="button" value="Create" id="connectButton"
                        class="connectButtonClass" /></a>
            </div>
        </form>
    </div>

    <!-- Form End -->
    <hr>

    <!-- Footer Start -->
    <footer class="footer ">
        <div class="footer-container ">
            <div class="footer-row ">
                <div class="footer-col ">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="aboutus.html ">About us</a></li>
                        <li><a href="https://creatornationofficial.freshteam.com/jobs ">Careers</a></li>
                    </ul>
                </div>
                <div class="footer-col ">
                    <h4>resources</h4>
                    <ul>
                        <li><a href="privacy.html ">Privacy Policy</a></li>
                        <li><a href="terms.html ">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="footer-col ">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="https://creatornation.freshdesk.com/support/tickets/new ">Contact Us</a></li>
                        <li><a href="https://creatornation.freshdesk.com/support/tickets/new ">Feature Requests</a></li>
                    </ul>
                </div>
                <div class="footer-col ">
                    <h4>follow us</h4>
                    <div class="social-links ">
                        <a href="# "><i class="fab fa-facebook-f "></i></a>
                        <a href="# "><i class="fab fa-twitter "></i></a>
                        <a href="# "><i class="fab fa-instagram "></i></a>
                        <a href="# "><i class="fab fa-linkedin-in "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <script>
        window.fwSettings = {
            'widget_id': 70000002336
        };
        ! function () {
            if ("function " != typeof window.FreshworksWidget) {
                var n = function () {
                    n.q.push(arguments)
                };
                n.q = [], window.FreshworksWidget = n
            }
        }()
    </script>
    <script>
        const user = Moralis.User.current();
        if (user) {
            document.getElementById("signoutButton").style.display = "block";
            document.getElementById("signinButton").style.display = "none";
        } else {

            document.getElementById("signinButton").style.display = "block";
            document.getElementById("signoutButton").style.display = "none";
        }
    </script>
	<script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.6.6/dist/umd/index.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/@walletconnect/qrcode-modal@1.6.6/dist/umd/index.min.js"></script>    
    <script type='text/javascript' src='https://widget.freshworks.com/widgets/70000002336.js' async defer></script>
    <script src="../javascript/walletConnect.js"></script>
    <script src="../javascript/search.js "></script>
    <script src="../javascript/newconnect.js"></script>
</body>

</html>