<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous ">
        </script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
    <link rel="shortcut icon" href="../assets/CN_LOGO.png" />
    <link rel="stylesheet" href="../css/main.css">
    <title>Creator Nation - Creator Name</title>
</head>

<body>
    <script>
        Moralis.initialize("o7HX0V4MSHEZ1kV4p8Cc1c1v4AZdBoFh3tbL2rq3"); // APP ID
        Moralis.serverURL = "https://whr4yd3prbrn.usemoralis.com:2053/server";
        async function logoutNow() {

            await Moralis.User.logOut();

            window.location.assign("../index.html");
        }

        // const user = Moralis.User.current();
        // if(user) {
        //     const userProfileSlug = user.id.substring(4,8);

        // }

    </script>

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" aria-current="page" href="../index.html">
                <img src="../assets/CN_LOGO.png" alt="" width="50" height="50" class="d-inline-block align-text-middle">
            </a>
            <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search by Creator" id="searchbar">
                <a href="javascript:searchUser()"><input type="submit" value="Search"
                        class="btn btn-outline-danger" /></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="how-it-works.html">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="create.html">Create</a>
                    </li>
                </ul>
            </div>

            <div id="prepare">
                <button class="btn btn-danger" id="btn-connect">
                    Connect Mobile
                </button>
            </div>

            <div id="connected" style="display: none">
                <button class="btn btn-danger" id="btn-disconnect">
                    Disconnect Mobile
                </button>
            </div>
            &nbsp;

            <div id="signoutButton">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="settings.html" class="dropdown-item">Creations</a></li>
                        <li><a href="settings.html" class="dropdown-item">Owned Items</a></li>
                        <li><a href="settings.html" class="dropdown-item">Earnings</a></li>
                        <li><a href="profilesettings.html" class="dropdown-item">Profile Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="javascript:logoutNow()" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div id="signinButton">
                <a href="signin.html" id="signinProfileButton" type="button" class="btn btn-outline-danger">Sign In</a>
            </div>
        </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <div class="row row-cols-1 row-cols-md-5 g-5" id="search_results" style="padding:20px;">
    </div>
    <br><br>
    <!-- Profile Start -->
    <div class="profile-container">
        <div class="cnProfile">
            <img class="cn-cover-image" src="" />
            <img class="cn-profile-image" src="#" width="136px" height="136px" />
            <div class="cnProfile-text">
                <h1 class="profileName"></h1>
                <span class="profileBio"></span>
                <p></p>
            </div>
        </div>
        <div style="text-align:center;">
            <button type="button" class="btn btn-danger btn-lg">Follow</button>

        </div>
        <p></p>
        <!--https://getbootstrap.com/docs/5.1/components/navs-tabs/#via-javascript-->
        <div class="profile-tabs-container">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-token-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-token" type="button" role="tab" aria-controls="pills-token"
                        aria-selected="true">Creator Token</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-memberships-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-memberships" type="button" role="tab" aria-controls="pills-memberships"
                        aria-selected="false">Memberships</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-licensing-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-licensing" type="button" role="tab" aria-controls="pills-licensing"
                        aria-selected="false">Licensing</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-connect-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-connect" type="button" role="tab" aria-controls="pills-connect"
                        aria-selected="false">Connect</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-token" role="tabpanel"
                    aria-labelledby="pills-token-tab">
                    <div class="row row-cols-1 row-cols-md-3 g-4" id="mainbkp1">
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-memberships" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row row-cols-1 row-cols-md-3 g-4" id="mainbkp2">
                    </div>

                </div>
                <div class="tab-pane fade " id="pills-licensing" role="tabpanel "
                    aria-labelledby="pills-licensing-tab ">
                    <div class="row row-cols-1 row-cols-md-3 g-4" id="mainbkp3">
                    </div>

                </div>
                <div class="tab-pane fade " id="pills-connect" role="tabpanel " aria-labelledby="pills-connect-tab ">
                    <div class="row row-cols-1 row-cols-md-3 g-4" id="mainbkp4">
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Profile  End -->

    <hr>

    <!-- Footer Start -->
    <footer class="footer ">
        <div class="footer-container ">
            <div class="footer-row ">
                <div class="footer-col ">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="aboutus.html ">About us</a></li>
                        <li><a href="https://creatornationofficial.freshteam.com/jobs ">Careers</a></li>
                    </ul>
                </div>
                <div class="footer-col ">
                    <h4>resources</h4>
                    <ul>
                        <li><a href="privacy.html ">Privacy Policy</a></li>
                        <li><a href="terms.html ">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="footer-col ">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="https://creatornation.freshdesk.com/support/tickets/new ">Contact Us</a></li>
                        <li><a href="https://creatornation.freshdesk.com/support/tickets/new ">Feature Requests</a></li>
                    </ul>
                </div>
                <div class="footer-col ">
                    <h4>follow us</h4>
                    <div class="social-links ">
                        <a href="# "><i class="fab fa-facebook-f "></i></a>
                        <a href="# "><i class="fab fa-twitter "></i></a>
                        <a href="# "><i class="fab fa-instagram "></i></a>
                        <a href="# "><i class="fab fa-linkedin-in "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <script>
        window.fwSettings = {
            'widget_id': 70000002336
        };
        ! function () {
            if ("function " != typeof window.FreshworksWidget) {
                var n = function () {
                    n.q.push(arguments)
                };
                n.q = [], window.FreshworksWidget = n
            }
        }()
    </script>
    <script>
        const user = Moralis.User.current();
        if (user) {

            document.getElementById("signoutButton").style.display = "block";
            document.getElementById("signinButton").style.display = "none";
        } else {

            document.getElementById("signinButton").style.display = "block";
            document.getElementById("signoutButton").style.display = "none";
        }
    </script>
    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript"
        src="https://unpkg.com/@walletconnect/web3-provider@1.6.6/dist/umd/index.min.js"></script>
    <script type="text/javascript"
        src="https://unpkg.com/@walletconnect/qrcode-modal@1.6.6/dist/umd/index.min.js"></script>
    <script type='text/javascript' src='https://widget.freshworks.com/widgets/70000002336.js' async defer></script>
    <script src="../javascript/walletConnect.js"></script>
    <script src="../javascript/search.js "></script>
    <script src="../javascript/profile.js "></script>
    <script>
        // searchUser1();
    </script>
</body>

</html>