<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
	<script src="https://unpkg.com/moralis/dist/moralis.js"></script>
	<link rel="stylesheet" href="../css/signin.css" />
	<link rel="shortcut icon" href="../assets/CN_LOGO.png" />
	<title>CreatorNation - Sign In or Sign Up</title>
</head>

<body>
	<header class="app-header">
		<div id="app-header-btns"></div>
	</header>
	<section id="content" class="container"></section>
	<!-- scripts -->
	<script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.6.6/dist/umd/index.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/@walletconnect/qrcode-modal@1.6.6/dist/umd/index.min.js"></script>	
	<script src="../javascript/signin.js"></script>
	<script src="../javascript/walletConnect.js"></script>
</body>

</html>