<div class=\ "token-card\">
    <div> <img src=\ " ../assets/CN_LOGO.png \" alt=\ " \" class=\ " token-owner-logo \" align=\ "left \"> </div>
    <div> <img src=\ "https://static.thenounproject.com/png/659816-200.png \" alt=\ " \" class=\ " token-owner-logo \" align=\ "right \"> </div> <img src=\ " ../assets/CN_LOGO.png \" class=\ "token-img-top \" alt=\ "... \">
    <p></p>
    <div class=\ "token-card-body \">
        <h5 class=\ "token-title \">Newbie</h5>
        <P class=\ "token-card-cost \"><b>$3 per month</b></P>
        <p class=\ "token-card-text \"> Early access to my work on the theory of universal gravitation. Discover the nature of white light along with me! Bedtime calculus. Exclusive Principia Mathematica Audiobook. Sir Isaac Newton PRS was an English mathematician, physicist, astronomer,
            theologian, and author who is widely recognised as one of the greatest mathematicians and most influential scientists of all time. </p> <button type=\ "button \" class=\ "btn btn-danger btn-lg \">JOIN</button> </div>
</div>